body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova Rg" "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}
.main-navigator {
  padding: 0 15px;
  border-bottom: 11px solid #07a6b9;
  overflow: hidden;
}

.navigation-wrapper,
.broadcrumps-top,
.main-article,
.interest-vacancy {
  display: flex;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 992px;
  align-items: center;
}

.about-company,
.our-tasks {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 992px;
  align-items: center;
}

.mainly,
map {
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.map {
  margin-top: 53px;
  margin-bottom: -4px;
}

.track-img {
  height: 100%;
  width: 100%;
}

.row-up {
  display: flex;
  padding: 7px 0 2px;
}

.down {
  display: flex;
  padding: 21.9px 0 13px 0;
}

.col-nav {
  display: flex;
  flex: 0 0 67.9%;
  align-items: center;
}

.main-link {
  flex: 0 0 37.3333%;
  min-width: 0 0 37.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vacancy-link {
  flex: 0 0 33%;
  min-width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company-link {
  flex: 0 0 26%;
  min-width: 0 0 26%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delta {
  position: relative;
  background-color: #07a6b9;
}

.delta::after {
  content: '';
  position: absolute;
  width: 2156px;
  height: 87px;
  right: -2156px;
  top: 0px;
  background-color: #07a6b9;
}

.col-social {
  flex: 0 0 178px;
  min-width: 178px;
  display: flex;
  justify-content: center;
}

.rectangle {
  width: 100%;
  position: relative;
}

.image-logo {
  margin: 0;
  padding: 0;
}

.logo-sign {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #999999;
  font-family: "Proxima Nova Cn Lt";
  font-style: italic;
  font-size: 19px;
  font-weight: 400;
  line-height: 22px;
}

.logo {
  margin-bottom: 3px;
}

.col-stick {
  flex: 0 0 0%;
  display: flex;
  border-left: 1px solid #07a6b9;
  opacity: 0.27;
  height: 70px;
  transform: rotate(34deg);
  margin: 11.9px 1% 0 1.5%;
}

.call-button {
  border-radius: 23px;
  background-color: #c14f2f;
  padding: 11.8px 0 10.7px;
  margin-top: 6px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  width: 180px;
  text-align: center;
}
.call-button span {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  width: 123px;
  height: 11px;
  line-height: 22px;
}

.call-button:hover,
.detail:hover,
.vacancy-button:hover,
.button-main-form:hover,
.about_us_button:hover,
.vacancy_button:hover,
.button-vacansy:hover,
.button-driver:hover,
.button-logist:hover {
  background-color: #a53617;
}

.col-button {
  flex: 0 0 23%;
  padding: 15px 0 18px;
}

.link-nav,
.cargo,
.about-us-list {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.link-nav:hover,
.cargo:hover,
.about-us-list:hover {
  border-bottom: 1px solid #c6ecf1;
}

.link-index,
.about-us-page,
.vacansy {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.link-underline-nav {
  border-bottom: 1px solid #c6ecf1;
}

.link-underline-footer {
  border-bottom: 1px solid white;
}

.social-svg {
  fill: #fff;
}

.social-svg:hover {
  fill: #c6ecf1;
}

.col-logo {
  padding: 44px 0 21px 0;
  width: 310px;
}

.col-contacts {
  position: relative;
  flex: 0 0 72.404%;
  padding: 0 0 0 50px;
}

.col-contacts::before {
  content: ''; 
  position: absolute;
  top: 93px;
  left: -15px;
  border: 38px solid transparent;
  border-right: 27px solid #07a6b9;
  border-bottom: 49px solid #07a6b9;
}

.write-onmail {
  margin: 0;
  padding: 0;
  color: #1f425d;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.our-mail {
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.col-first {
  flex: 0 0 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-second {
  flex: 0 0 32%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-mail {
  padding-left: 18px;
}

.col-phone {
  margin-left: 15px;
}

.social-image {
  display: flex;
  margin: 0;
  padding: 5px 0;
}

.social-list {
  padding-top: 11px;
  margin-left: 6px;
  cursor: pointer;
}

.social-list:nth-child(2),
.social-list:nth-child(3) {
  margin-left: 28px;
  padding-top: 11px;
}

.if-driver {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.if-cargo {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.about-offer {
  display: inline-block;
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 64px;
}

.about-cargo {
  display: inline-block;
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 92px;
}

.detail {
  border-radius: 20px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 11px 34.3px 15px 35.8px;
}

.col-info {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  flex: 0 0 47.2%;
  min-width: 47.2%;
}

.jumbo-overlap {
  position: relative;
  margin-top: -140px;
  margin-bottom: 94px;
  bottom: 25px;
}

.row-section {
  display: flex;
  margin-bottom: 21px;
}

.col-info {
  padding: 38px 54px 41px 53px;
  margin: 0;
}

.col-info:nth-child(odd) {
  margin-right: 60px;
}

.col-info:nth-child(n+3) {
  margin-top: 60px;
}

.camion {
  position: relative;
  margin: 0 auto !important;
  padding-left: 200px;
}

.left-arrow-cont {
  width: 99px;
  height: 102px;
  position: absolute;
  top: -22px;
  left: 116px;
}

.right-arrow-cont {
  width: 27px;
  height: 68px;
  position: absolute;
  top: -54px;
  right: 300px;
}

.bc-color {
  background-color: #c14f2f;
}

.odds {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.advantages-img {
  text-align: center;
}

.advantages-h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 42px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
  margin: 32.1px 0 72px 0;
  padding: 61px 4px 0 0;
}

.advantages-list {
  flex: 0 0 33.3333%;
  text-align: center;
}

.advantages-list .h3-list {
  margin: 0;
}

.advantages-list:nth-child(n+4) {
  padding-top: 82px;
  padding-bottom: 96px;
}
.advantages-list:nth-child(1) .h3-list {
  padding-top: 9px;
}

.advantages-list:nth-child(2) .h3-list {
  padding-top: 18px;
}

.advantages-list:nth-child(3) .h3-list {
  padding-top: 16px;
}

.advantages-list:nth-child(4) .h3-list {
  padding-top: 22px;
}

.advantages-list:nth-child(5) .h3-list {
  padding-top: 13px;
}

.advantages-list:nth-child(6) .h3-list {
  padding-top: 24px;
}

.odds h3 {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.about-us-h2 {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  padding-top: 58.9px;
  padding-left: 10px;
}

.interesting-h2 {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
  padding-top: 47.9px;
  padding-left: 7px;
}

.text-about {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-top: 26.1px;
  padding-right: 60px;
  padding-left: 6px;
}

.text-vac {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-top: 15.1px;
  padding-right: 55px;
  margin-left: 7px;
}

.about-us-container {
  background-image: url("../img/pattern.jpg");
  margin: 0 auto;
}

.form-main-page,
.vacancy-main-page,
.abous_us_page {
  background: white;
  max-width: 660px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 50px;
  box-shadow: 7px 7px 75px rgba(0, 0, 0, 0.2);
}

.vacancy_form_page {
  background: white;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 50px;
  box-shadow: 7px 7px 75px rgba(0, 0, 0, 0.2);
  min-width: 47%;
}

.vacancy-text {
  width: 80%;
}

.vacancy_form input {
  padding: 1px 15px 3px 15px;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
  margin-bottom: 68px;
}

.vacancy-name,
.vacancy-email {
  width: 45%;
}

.vacancy-text {
  width: 98%;
}

.main-popup,
.col-7_logist,
.col-7_driver {
  position: absolute;
  background: white;
  min-width: 660px;
  padding-bottom: 50px;
  margin-left: -330px;
  margin-top: -150px;
  box-shadow: 7px 7px 75px rgba(0, 0, 0, 0.2);
  animation-name: bounce;
  animation-duration: 1s;
}

.main-popup {
  z-index: 2000;
  left: 50%;
  top: 50%;
}

.overlay {
  background: #000;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  display: none;
}

.form-logist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-7_logist {
  width: 300px;
  z-index: 2000;
  left: 50%;
  top: 22%;
}

.col-7_driver {
  width: 300px;
  z-index: 2000;
  left: 50%;
  top: 57%;
}

.main-form {
  padding: 110px 15px 98px 15px;
  display: flex;
  justify-content: space-around;
}

.order-form,
.main-order-form,
.vacancy-main-form,
.col-7_logist,
.form-driver,
.about_us_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.vacancy_form {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 30px 0px 30px;
  justify-content: space-between;
}

.form-unshow,
.form-unshow-logist,
.form-unshow-driver {
  display: none;
}

.form-show,
.form-show-logist,
.form-show-driver {
  display: block;
}

.order-form input,
.main-order-form input,
.vacancy-main-form {
  cursor: text;
}

.input-date {
  padding: 7px 2.4% 3.9px 2.4%;
  width: 39%;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
}

.input-text {
  padding: 6px 387px 5px 18.4px;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
  margin-bottom: 40px;
}

.input-date::placeholder {
  color: black;
}

.input-date:focus,
.input-question:focus {
  border-bottom: 1px solid #07a6b9;
}
/* *this is redstar in a input for required text*
.redstar {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  color: #ff1d25;
  opacity: 0.47;
  position: absolute;
  top: 5px;
  right: 180px;
}
*/

.button-cont {
  margin: 0 auto;
}

.button-main-form,
.vacancy-button,
.button-logist,
.button-logist,
.button-driver,
.button-vacansy,
.vacancy_button,
.about_us_button {
  border: 0 solid white;
  border-radius: 24px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 75px 14px 75px;
  cursor: pointer;
}

.button-vacansy,
.button-logist,
.button-driver {
  margin-left: 5px;
}

.impost-request {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  padding: 48px 17px 15px 17px;
}


.input-date:nth-child(1),
.input-date:nth-child(3),
.input-date:nth-child(5) {
  margin-bottom: 49px;
}

.input-date:nth-child(1),
.input-date:nth-child(2) {
  margin-bottom: 49.1px;
}

.input-date:nth-child(3),
.input-date:nth-child(4) {
  margin-bottom: 45.1px;
}

.input-date:nth-child(5),
.input-date:nth-child(6) {
  margin-bottom: 35.1px;
}

.geophy-cargo {
  margin: 0 auto;
  padding: 69px 15px 94px;
  display: flex;
}

.map-column {
  background-repeat: no-repeat;
  padding: 0 15px;
  flex: 0 0 61%;
  max-width: 61%;
  display: flex;
  align-items: center;
}

.map-column img {
  width: 100%;
}

.geography-column {
  flex: 0 0 38%;
  min-width: 38%;
  padding: 2px 15px;
}

.paragraph-geo {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  margin-top: 79.1px;
}

.about-meneger {
  font-family: "Roboto";
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  margin-top: 20px;
  letter-spacing: -0.2px;
}

.sp-cargo {
  color: #cb2c00;
}

.our-number {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.2px;
  text-transform: uppercase;
  margin-top: 57px;
}

footer {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("../img/footer-img.jpg");
  background-size: cover;
  border-top: 9px solid #c14f2f;
  padding: 50px 0;
}

.logo-footer,
.navigation-footer,
.contacts-col {
  flex: 0 0 33%;
  max-width: 33%;
}

.navigation-footer {
  display: flex;
  justify-content: center;
}

.footer-article {
  opacity: 0.57;
  color: #e6e6e6;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-right: 90px;
}

.broadcrumps-footer {
  display: block;
}

.broadcrumps a {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.number {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.number::before {
  content: "";
  background-image: url("../img/call-ph.png");
  position: absolute;
  width: 28px;
  height: 29px;
  right: 250.2px;
  top: 1.5px;
}

.around-clock {
  color: #cccccc;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: right;
  margin: 0;
}

.copyright {
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.logofooter-img {
  margin-bottom: 7px;
}

.schedule {
  text-align: right;
  position: relative;
}

.broadcrumps {
  text-align: left;
  padding-top: 1px;
}

.bc-list {
  display: flex;
  align-items: center;
  padding-top: 12.8px;
  margin: 0;
  margin-left: -35px;
}

.bc-list a {
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.bc-list li {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.arrow-right {
  height: 15px;
  color: #bee8ed;
  margin: 0 25px 0 28px;
}

.h1-article {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 42px;
  font-weight: 700;
  line-height: 22px;
  padding: 9px 0 5px 4px;
}

.h2-article_vc {
  margin-bottom: 0;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: solid 4px;
  padding-bottom: 8.7px;
  border-image: url("../img/line-h2.jpg") 3;
  padding-left: 5px;
  width: 486px;
}

.circs-container {
  display: flex;
  flex-wrap: wrap;
}

.circs-job {
  margin: 0;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.circs-paragraph {
  margin-right: 7px;
}

.circs-job-span {
  display: block;
  align-items: center;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.tasks-paragraph {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 5px;
}

.way-work {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 23px;
  margin-left: 5px;
}

.tasks {
  padding-top: 10px;  
  padding-left: 25px;
  margin: 0;
}

.tasks-company {
  padding-top: 10px;
  padding-left: 23px;
  margin: 0;
}

.tasks li,
.tasks-company {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.text {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 26.6px;
  letter-spacing: -0.3px;
}

.tasks li:before {
  content:  "—";
  position: absolute;
  left: 5px;
}

.tasks-company li:before {
  content:  "—";
  position: absolute;
  left: 5px;
}

.duties {
  padding-top: 10px;  
  padding-left: 25px;
  margin: 0;
  margin-bottom: 23px;
}

.duties li {
    color: #333333;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.summarize {
  padding: 7.5px 0 0 6px;
  margin-bottom: 28px;
}

.respond-logist,
.respond-driver {
  border: 0 solid white;
  border-radius: 24px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  padding: 11px 60px 13px 51px;
  margin-left: 5px;
}

.pad-size {
  padding-left: 5px;
}

.h2-article_cont {
  width: 100%;
  margin-bottom: 22px;
}

.first-vacansy,
.secondcont-vacansy {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 992px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.vacancy-details {
  flex: 0 0 50%;
  position: relative;
}

.worker-img,
.cargo-img {
  padding-left: 2.7%;
  flex: 0 0 50%;
  min-width: 50%;
}

.first-vacansy {
  margin-bottom: 90px;
}

.firstcont-vacansy {
  margin-bottom: 103px;
}

.secondcont-vacansy {
  margin-bottom: 119px;
}

.interest-vacancy {
  max-width: 1200px;
  min-width: 992px;
  margin: 0 auto;
  display: flex;
  padding-top: 113px;
  padding-bottom: 95px;
}

.after-vacancy {
  min-width: 50%;
}

.our-bussines {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.rectangle::before {
  content: "";
  height: 93px;
  width: 2000px;
  position: absolute;
  background-color: #3b97a2;
  opacity: 0.13;
  right: 1227px;
  top: -28px;
}

.rectangle::after {
  content: "";
  position: absolute;
  opacity: 0.13;
  border: 34px solid transparent;
  border-left: 20px solid #3b97a2;
  border-top: 60px solid #3b97a2;
  left: -87px;
  bottom: -22px;
}

.mission {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.main-mission {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  line-height: 34px;
}

.list-way {
  position: relative;
  margin-bottom: -13px;
}

.style-grey {
  color: #666666;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
}

.style-black {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-weight: 700;
}

.yandex-map {
  border: 0;
}

.box-shadow {
  box-shadow: 7px 7px 75px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.main-article {
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 67px;
  margin-bottom: 40px;
  }

.mission-message {
  margin-bottom: 0;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: solid 4px;
  padding-bottom: 8.7px;
  border-image: url("../img/line-h2.jpg") 3;
  padding-left: 5px;
  width: 486px;
  margin-top: 81px;
  }

.our-contacts {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: solid 4px;
  padding-bottom: 8.7px;
  border-image: url("../img/line-h2.jpg") 3;
  padding-left: 5px;
  width: 486px;
  margin-bottom: 32px;
}

.style-grey {
  margin-bottom: 1px;
  padding-left: 15px;
}

.style-black {
  margin-top: 4px;
  padding-left: 15px;
}

.contacts {
  margin-bottom: 37px;
}

.contacts-comp {
  padding: 76px 0px 1px 0px;
}

.image-location {
  margin-top: 6px;
  margin-left: -10px;
  float: left;
}

.image-phone,
.image-post {
  margin-top: 9px;
  margin-left: -14px;
  float: left;
}

.image-clock {
  margin-top: 2px;
  margin-left: -14px;
  float: left;
}

.col-12-mail {
  margin-left: 20px;
}

.ask-question {
  margin-bottom: 52px;
}

.input-question {
  padding: 6px 18.4px 5px 18.4px;
  width: 90%;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
  margin-bottom: 48px;
}

.popup-form input {
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
  margin-bottom: 58px;
  margin-left: 60px;
  padding: 1px 15px 3px 15px;
  width: 80%;
}

.popup-form {
  padding: 7px 40px 0px 40px;
}

input[type="text"] {
  color: #1c1c1c;
 }

.button-question {
  text-align: center;
}
.img-block {
  position: relative;
  width: 100%;
  height: 100%;
}

@keyframes bounce {
  0% {
    transform: translatey(-600px)
  }
  100% {
    transform: translateY(0px)
  }
}
.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0px);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup-close,
.close-logist,
.close-driver {
  border: 2px solid #cbcbcb;
  border-radius: 51px;
  width: 27px;
  height: 27px;
  position: absolute;
  right: 11px;
  top: 10px;
  background-color: white;
  cursor: pointer;
}

.popup-close::before,
.popup-close::after,
.close-logist::before,
.close-logist::after,
.close-driver::before,
.close-driver::after  {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #cbcbcb;
  right: 4px;
  top: 11px;
}

.popup-close::before,
.close-logist::before,
.close-driver::before {
  transform: rotate(45deg);
}

.popup-close::after,
.close-logist::after,
.close-driver::after {
  transform: rotate(-45deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  list-style: none;
}

input:disabled {
  background-color: white;
}

input::placeholder {
  color: black;
}

.thanks-sign {
  font-size: 50px;
  font-weight: bold;
  color: #07a6b9;
}

.connect-sign {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
}

.center {
  margin-top: 150px;
  text-align: center;
}

.container-background {
  height: 853px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-left: 340px;
  padding-bottom: 190px;  
}

.line-img {
  max-width: 90%;
  position: relative;
  top: -49px;
  left: 35px;
  height: 3px;
}

.allowed-cargo {
  text-align: right;
  color: #3b97a2;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.row-up {
  margin-left: 14px;
}

.tagline {
  position :absolute;
  top: 22.3%;
  left: 12%;
}

.h1-tagline {
  margin: 0;
  padding: 0;
  color: #1c1c1c;
  font-family: 'Proxima Nova Lt it';
  color: #1f425d;
  font-size: 64px;
  font-weight: 460;
  line-height: 71px;
  text-align: end;
}

@media screen and (max-width: 1365px) {
  .tagline { left: 8%; }
}

@media screen and (max-width: 1225px) {
  .tagline { left: 5%; }
}

@media screen and (max-width: 1140px) {
  .h1-tagline { font-size: 54px; }
}

@media screen and (max-width: 1070px) {
  .h1-tagline { font-size: 46px;
                line-height: 44px; }

  .line-img {
    max-width: 82%;
    position: relative;
    top: -35px;
    left: 69px;
    height: 3px; }

  .allowed-cargo { font-size: 14px; }

  .tagline { left: 0%; }
}