body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova Rg" "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.main-navigator {
  border-bottom: 11px solid #07a6b9;
  overflow: hidden;
}

.mainly{
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.container-image {
  background-position: top center;
  background-repeat: no-repeat;
  background: url(../img/main-background.jpg) center;
  object-fit: cover;
  height: 100vmin;
  background-size: cover;
}

/*
.container-image img {
  height: 100%;
  width: 100%;
}
*/

.background-mainly {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  position: absolute;
  top: 177px;
  left: 189px;
}

.display_fl {
  margin-top: auto;
}

.line-img {
  position: relative;
  top: -3px;
  left: 21px;
}

.allowed-cargo {
  text-align: right;
  color: #3b97a2;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  margin: 0;
}

.row-up {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 7px;
  padding-left: 49px;
}

.down {
  padding: 20px 0 6px 36px;
}

.navigation {
  max-height: 178px;
  background-color: white;
}

.delta {
  position: relative;
  background-color: #07a6b9;
}

.delta::before {
  content: ''; 
  position: absolute;
  right: 100%;
  border: 34px solid transparent;
  border-right: 24px solid #07a6b9;
  border-bottom: 49px solid #07a6b9;
}

.delta::after {
  content: '';
  position: absolute;
  width: 2060px;
  height: 80px;
  right: -2046px;
  top: 0px;
  background-color: #07a6b9;
}

.rectangle {
  width: 100%;
  position: bottom right;
}

.image-logo {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 14px;
}

.h1-article {
  color: #1f425d;
  font-family: "Proxima Nova Lt";
  font-style: italic;
  font-size: 65px;
  font-weight: 400;
  line-height: 70px;
  width: 488px;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-size: 3vw;
}



.logo-sign {
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: "Proxima Nova Cn Lt";
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.col-1-stick {
  flex: 0 0 0%;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #07a6b9;
  opacity: 0.27;
  height: 70px;
  transform: rotate(34deg);
  margin-top: 16px;
  margin-right: 62px;
}

.call-button {
  border-radius: 23px;
  background-color: #c14f2f;
  padding: 12.8px 31px 10.7px 31px;
  margin-top: 6px;
  border: 0;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.call-button:hover,
.detail:hover,
.order-button:hover,
.respond:hover {
  background-color: #a53617;
}

.col-button {
  display: flex;
  align-items: center;
  flex: 0 0 28%;
  max-width: 28%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.link-nav,
.cargo,
.about-us-list {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.link-nav:hover,
.cargo:hover,
.about-us-list:hover {
  border-bottom: 1px solid #c6ecf1;
  padding-bottom: 5px;
}

.social-svg {
  fill: #fff;
}

.social-svg:hover {
  fill: #c6ecf1;
}

.col-3-logo {
  flex: 31.8%;
  max-width: 31.8%;
  padding: 44px 46px 21px 0;
}

.col-9-nav {
  flex: 0 0 68.2%;
  max-width: 68.2%;
}

.write-onmail {
  margin: 0;
  padding: 0;
  flex: 0 0 100%;
  max-width: 100%;
  color: #1f425d;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.our-mail {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.col-4-first {
  flex: 0 0 26%;
  max-width: 26%;
  display: flex;
  align-items: center;
  padding-top: 13px;
  margin-right: 61px;
}

.container-fluid {
  background-color: red;
}

.col-4-second {
  flex: 0 0 26%;
  max-width: 26%;
  display: flex;
  align-items: center;
  padding-top: 12px;
  margin-right: 23px;
}

.col-12-mail {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 18px;
}

.col-12-phone {
  margin-left: 15px;
}

.col-10-list {
}

.container-fluid {
  background: rgba(255, 0, 0, 0.5);
}

.list-nav li {
  margin-right: 67px;
}

.list-nav li:nth-child(2) {
  margin-right: 70px;
}

.list-nav {
  display: flex;
  flex-wrap: wrap;
}

.social-image {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-list {
  padding-top: 11px;
  margin-left: 6px;
  cursor: pointer;
}

.social-list:nth-child(2),
.social-list:nth-child(3) {
  margin-left: 28px;
  padding-top: 11px;
}

.if-driver {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.if-cargo {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.about-off {
  display: inline-block;
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 64px;
}

.about-cargo {
  display: inline-block;
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 70px;
}

.detail {
  border-radius: 20px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 11px 34.3px 15px 35.8px;
}

.col-info {
  background-color: white;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  flex: 0 0 47.2%;
  max-width: 47.2%;
}

.jumbo-overlap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: -164px;
  margin-bottom: 89px;
  top: 61px;
}

.row-section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 19px;
}

.col-info {
  padding: 38px 54px 41px 53px;
  margin: 0;
}

.col-info:nth-child(odd) {
  margin-right: 60px;
}

.col-info:nth-child(n+3) {
  margin-top: 60px;
}

.camion {
  position: relative;
  margin: 0 auto !important;
  padding-right: 49px;
}

.left-arrow-cont {
  width: 99px;
  height: 102px;
  position: absolute;
  top: -5px;
  right: 763px;
}

.right-arrow-cont {
  width: 27px;
  height: 68px;
  position: absolute;
  top: -55px;
  left: 626px;
}

.bc-color {
  background-color: #c14f2f;
}

.col-6-ad {
  margin: 0 auto;
  flex: 0 0 60%;
  max-width: 60%;
  padding-top: 61px;
  padding-bottom: 77px;
}

.odds {
  display: flex;
  flex-wrap: wrap;
  padding-left: 14px;
}

.advantages-img {
  text-align: center;
}

.advantages-h1 {
  text-align: center;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 42px;
  font-weight: 700;
  line-height: 35px;
  margin: 0;
  margin-top: 32.1px;
  margin-bottom: 72px;
  padding-right: 4px;
}

.advantages-list {
  flex: 0 0 33.3333%;
  text-align: center;
}

.odds h3 {
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.advantages-list:nth-child(3)  {
  margin-bottom: 60px;
}

.advantages-list:nth-child(2) {
  padding-top: 8px;
}

.advantages-list:nth-child(2) img {
  padding-right: 15px;
}

.advantages-list:nth-child(3) img {
  padding: 4px 21px 0 0;
}

.advantages-list:nth-child(5) img {
  padding: 3px 15px 0 0;
}

.advantages-list:nth-child(6) img {
  padding: 1px 9px 0 0;
  margin-top: -2px;
}

.advantages-list:nth-child(1) {
  margin-bottom: 64px;
}

/* h3 at the list style */

.advantages-list:nth-child(1) h3 {
  margin-top: 9px;
}

.advantages-list:nth-child(2) h3 {
  padding-right: 13px;
}

.advantages-list:nth-child(3) h3 {
  margin: 0;
  padding-top: 13px;
  padding-right: 23px;
}

.advantages-list:nth-child(4) h3 {
  padding-top: 4px;
}

.advantages-list:nth-child(5) h3 {
  margin: 0;
  padding-top: 14px;
  padding-right: 16px;
}

.advantages-list:nth-child(6) h3 {
  padding-top: 6px;
  padding-right: 21px;
}

/* end list style */

.about-us-h2 {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  padding-top: 58.9px;
  padding-left: 4px;
}

.interestingvac-h2 {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 33px;
  margin: 0;
  padding-top: 47.9px;
  padding-left: 16px;
}

.text-about {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-top: 26.1px;
  padding-right: 30px;
}

.text-vac {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
  margin-top: 15.1px;
  padding-right: 32px;
  margin-left: 16px;
}

.about-us-container {
  background-image: url("../img/pattern.jpg");
  margin: 0 auto;
}

.col-7-fm {
  background: white;
  max-width: 660px;
  margin-left: 20px;
  padding-bottom: 50px;
}

.main-form {
  padding: 110px 0 98px 0;
}

.order-form {
  padding-left: 37px;
}

.order-form input {
  cursor: text;
}

.input-date {
  padding: 6px 62px 5px 18.4px;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible
}

.input-text {
  padding: 6px 387px 5px 18.4px;
  border: 0 solid white;
  border-bottom: 1px solid #afafaf;
  opacity: 0.47;
  color: #676767;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  overflow: visible;
  margin-bottom: 43px;
}

.input-date::placeholder {
  color: black;
}

.position {
  position: relative;
  display: inline-block;
}

.input-date:focus {
  border-bottom: 1px solid #07a6b9;
}

.redstar {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  color: #ff1d25;
  opacity: 0.47;
  position: absolute;
  top: 5px;
  right: 180px;
}

.redstar-name {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  color: #ff1d25;
  opacity: 0.47;
  position: absolute;
  top: 7px;
  right: 263.1px;
}

.redstar-em {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  color: #ff1d25;
  opacity: 0.47;
  position: absolute;
  top: 5px;
  right: -160px;
}

.button-cont {
  text-align: center;
  margin: -6px 42px 0 0;
}

.order-button,
.button-vacansy
 {
  border: 0 solid white;
  border-radius: 24px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 75px 14px 75px;
  cursor: pointer;
}

.button-vacansy {
  margin-left: 5px;
}

.impost-request {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

.input-date:nth-child(1),
.input-date:nth-child(3),
.input-date:nth-child(5) {
  margin-bottom: 49px;
}

.input-date:nth-child(1),
.input-date:nth-child(2) {
  margin-bottom: 49.1px;
}

.input-date:nth-child(3),
.input-date:nth-child(4) {
  margin-bottom: 45.1px;
}

.input-date:nth-child(1),
.input-date:nth-child(3),
.input-date:nth-child(5) {
  margin-right: 58px;
}


.input-date:nth-child(5),
.input-date:nth-child(6) {
  margin-bottom: 35.1px;
}

.geography {
  padding-bottom: 94px;
}

.geophy-tr {
  margin: 0 auto;
  padding-top: 69px;
}

.map-img {
  background-repeat: no-repeat;
  width: 867px;
  height: 483px;
  padding-left: 0 !important;
}

.paragraph-geo {
  color: #1a1a1a;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
  margin-top: 79.1px;
}

.about-meneger {
  font-family: "Roboto";
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0;
  margin-top: 20px;
  letter-spacing: -0.2px;
}

.sp-cargo {
  color: #cb2c00;
}

.our-number {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 25px;
  font-weight: 700;
  line-height: 28.2px;
  text-transform: uppercase;
  margin-top: 57px;
}

.col-4-header {
  flex: 0 0 31%;
  max-width: 31%;
  padding: 0 0 0 14.8px !important;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  padding: 82px 0 50px 20px !important;
}

.footer {
  background-position: top center;
  background-repeat: no-repeat;
  background-color: black;
  background-image: url("../img/footer-img.jpg");
  background-size: cover;
  border-top: 9px solid #c14f2f;
}

.footer-article {
  opacity: 0.57;
  color: #e6e6e6;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.adress {
  flex: 0 0 26.4%;
  max-width: 26.4%;
}

.broadcrumps a {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 18px;
  font-weight: 400;
  line-height: 35px;
}

.number {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-top: 27px;
}

.around-clock {
  color: #cccccc;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: right;
  margin: 0;
}

.copyright {
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
}

.schedule-cont {
  flex: 0 0 26.6%;
  max-width: 26.6%;
  display: flex;
  flex-wrap: wrap;
}

.logofooter-img {
  margin-bottom: 7px;
}

.schedule {
  margin-left: 14px;
}

.svg-img {
  padding-top: 28px;
}

.broadcrumps {
  text-align: left;
  padding-top: 1px;
}

.bc-list {
  display: flex;
  align-items: center;
  padding-top: 12.8px;
  margin: 0;
  margin-left: -35px;
}

.h-cont {
  padding-left: 4px !important;
}

.bc-list a {
  color: #999999;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.bc-list li {
  color: #07a6b9;
  font-family: "Proxima Nova Rg";
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
}

.arrow-right {
  height: 15px;
  color: #bee8ed;
  margin: 0 25px 0 28px;
}

.h1-article_vc {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 42px;
  font-weight: 700;
  line-height: 22px;
  margin-left: 379px;
  margin-bottom: 68px;
}

.h2-article_vc {
  margin-bottom: 0;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 32px;
  font-weight: 700;
  line-height: 22px;
  border-bottom: solid 4px;
  padding-bottom: 8.7px;
  border-image: url("../img/line-h2.jpg") 3;
  padding-left: 5px;
  width: 486px;
}

.circs-container {
  display: flex;
  flex-wrap: wrap;
}

.circs-job {
  margin: 0;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}

.circs-paragraph {
  margin-right: 7px;
}

.circs-job-span {
  display: block;
  align-items: center;
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.tasks-paragraph {
  color: #1c1c1c;
  font-family: "Proxima Nova Rg";
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 5px;
}

.tasks {
  padding-top: 10px;  
  padding-left: 25px;
  margin: 0;
}

.tasks li {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.2px;
}

.text {
  color: #333333;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 26.6px;
  letter-spacing: -0.3px;
}

.tasks li:before {
  content:  "—";
  position: absolute;
  left: 20px;
}

.duties {
  padding-top: 10px;  
  padding-left: 25px;
  margin: 0;
  margin-bottom: 23px;
}

.duties li {
    color: #333333;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.2px;
}

.bc {
  margin-bottom: 46px;
}

.style-size {
  position: relative;
  margin-bottom: 20px;
}

.conditions {
  margin-top: 21px;
}

.summarize {
  padding: 7.5px 0 0 6px;
  margin-bottom: 28px;
}

.respond {
  border: 0 solid white;
  border-radius: 24px;
  background-color: #c14f2f;
  color: #ffffff;
  font-family: "Proxima Nova Rg";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  padding: 11px 60px 13px 51px;
  margin-left: 5px;
}

.rectangel2 {
  position: absolute;
  background-repeat: no-repeat;
  left: 0px;
  top: 88px;
}

.vacansies-h1 {
  padding-left: 4px !important;
}

.pad-size {
  padding-left: 5px !important;
}

.h2-article_cont {
  width: 100%;
  margin-bottom: 22px;
}

.col-6-first {
  margin: 0 0px;
}

.worker-img {
  padding-left: 40px !important;
  padding-top: 7px;
}

.car-go-img {
  padding-left: 8px !important;
  padding-top: 7px;
}

.firstcont-vacansy {
  margin-bottom: 103px;
}

.secondcont-vacansy {
  margin-bottom: 119px;
}

.col-7_red {
  flex: 0 0 61%;
  max-width: 61%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.col-5_red {
  flex: 0 0 39%;
  max-width: 39%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

.backgroun-image {
  background-image: url("../img/pattern.jpg")
}

.interest-vacansy {
  padding-top: 113px;
  padding-bottom: 95px;
}