@media (max-width: 320px) {
    .owl-nav {

        .owl-prev,
        .owl-next {
            top: 40px;
        }
    }
    .b-geography {
        &__number {
            color: $brown;
            font-size: 20px;
        }
    }
    .b-conctact-us {
        .formhead {
            font-size: 26px;
        }
    }
}

@media (max-width: 480px) {
    .hamburger-label {
        display: none;
    }

    .owl-nav {
        button {
            width: 60px;
            height: 60px;
            position: absolute;
            background-color: transparent !important;

            i {
                color: $blue;
                opacity: 1 !important;
            }
        }

        .owl-prev {
            top: 70px;
            right: 0px;
        }

        .owl-next {
            top: 70px;
            left: 0px;
        }
    }

    .callback {
        padding: 20px 10px;
        input {
            padding: 2px 12px;
            margin-bottom: 1.3rem;
        }

        .formhead {
            font-size: 30px;
            margin: 0.45em 0;
        }
    }

    .btn-wrapper {
        margin: 0.55em 0;
    }

    .remodal .callback .btn-wrapper {
        margin: 0.65em 0;
    }

    .b-vacancy {
        &__vacancy-items_wrapper {
            h2 {
                font-size: 22px;
            }
        }
        &__tasks-item {
            p {
                font-size: 14px;
                line-height: 24px;
            }

            ul {
                margin-bottom: 10px;

                li {
                    line-height: 22px;
                    font-size: 14px;
                }
            }
        }
    }

    &__header-item {
        h2 {
            font-size: 19px;
        }
    }

    .btn {
        margin: 15px 0 30px;
    }

    .b-map {
        max-height: 371px;
    }

    .b-conctact-us {
        margin-top: 40px;
        padding: 0 0 110px;
    }
    .b-advantages {
        .h2 {
            font-size: 26px;
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .owl-nav {
        button {
            width: 30px;
            height: 30px;
        }

        .owl-prev {
            top: 110px;
            right: 15px;
            left: inherit;
        }

        .owl-next {
            top: 110px;
            left: 15px;
        }
    }

    .b-info {
        &__wrapper {
            top: inherit;
        }
    }

    .b-advantages {
        padding: 50px 0 0;
        &__item-wrapper {
            display: flex;
            align-items: center;
            margin-bottom: 0px;
        }

        &__img {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 25%;

            img {
                min-width: 50%;
                max-width: 50px;
            }
        }

        p {
            text-align: left;
            margin-left: 25px;
            min-width: 25%;
        }
    }

    .b-about {
        .callback {
            padding: 25px;
            box-shadow: none;
        }
    }

    .b-conctact-us {
        .b-about__wrapper-form {
            .callback {
                input {
                    width: 100%;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .owl-carousel {

        &__article {
            position: relative;
            width: 100%;
            height: auto;
            background-color: #1f425d;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 15px;

            h2 {
                font-size: 32px;
            }

            p {
                font-size: 9px;
            }
        }
    }

    .owl-nav {
        button {
            width: 30px;
            height: 30px;
        }

        .owl-prev {
            top: 150px;
            right: 15px;
            left: inherit;
        }

        .owl-next {
            top: 150px;
            left: 15px;
        }
    }

    .b-info {
        padding: 40px 0;

        &__item-image {
            display: none;
        }

        &__item-owner {
            margin-top: 40px;
        }

        &__wrapper {
            top: inherit;
            padding: 25px;
            box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
        }

        h2 {
            font-size: 24px;
        }

        p {
            line-height: 21px;
            font-size: 15px;
        }

        &__paragraph-item1,
        &__paragraph-item2 {
            margin-bottom: 20px;
        }
    }

    .header_navigation {
        &__main {
            animation-delay: 0.05s;
        }

        &__vacancy {
            animation-delay: 0.30s;
        }

        &__about {
            animation-delay: 0.55s;
        }
    }

    .b-geography {
        padding: 50px 0 50px;
    }

    .footer-container {
        padding: 33px 0;
    }

    .footer__logo-wrapper {
        margin-bottom: 30px;
    }

    .footer__nav-wrapper {
        margin-bottom: 30px;
    }

    .footer__info-wrapper {
        text-align: left;
    }

    .remodal {

        .formhead {
            font-size: 26px;
        }

        input {
            font-size: 13px;
            margin-bottom: 30px;
        }
    }

    .b-contact-us {
        .b-about__wrapper-form {
            margin-top: 30px;
        }
    }
    .b-conctact-us {
        padding: 20px 0 110px;
    }
}


// Large devices (desktops, 992px and up)

@media (max-width: 992px) {
    body {
        padding: 0 !important;
        overflow: auto !important;
    }

    .hamburger {
        display: block;
    }

    .header {
        flex-direction: column;

        &_container {
            border-bottom: 10px solid $blue;
            background-color: #fff;
        }

        &_widgets {
            order: 3;
            display: block;
            margin: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;

            &::after {
                content: '';
                width: 0px;
                height: 0px;
            }

            a {
                i {
                    color: $blue;
                    margin: 0 25px;

                    &:hover {
                        color: rgba($blue, 0.3)
                    }
                }
            }
        }
    }

    .header_navigation {
        display: none;
        width: 75%;
        order: 2;
        padding-bottom: 0;

        &__main:before {
            content: '\efb2';
            font-family: 'IcoFont';
            color: $blue;
            font-size: 23px;
        }

        &__vacancy:before {
            content: '\ed15';
            font-family: 'IcoFont';
            color: $blue;
            font-size: 23px;
        }

        &__about:before {
            content: '\e961';
            font-family: 'IcoFont';
            color: $blue;
            font-size: 23px;
        }

        ul {
            display: block;

            li {
                margin: 10px 0;
                width: 100%;
                display: block;

                a {
                    color: $dark;

                    &:hover {
                        border-bottom: 1px solid rgba($dark, .3);
                        color: rgba($dark, .3);
                    }
                }
            }
        }
    }

    .main-container {
        background-color: #fff;
    }

    .header_logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header_logo p {
        display: block;
        order: 0;
    }

    .header_contacts {
        display: block;
        width: 100%;
        height: auto;
        .widget_b {
            max-height: 70px;
        }

        &::after {
            width: 0;
            height: 0;
        }

        .btn-wrapper {
            text-align: center;
            margin-top: 35px;

            .btn {
                width: 75%;
                text-align: center;
            }
        }
    }

    .widget_b {
        padding: 8px 0;
        border-bottom: 1px solid rgba($blue, 1);
    }

    .is-active {
        display: block;
    }

    .hamburger {
        display: flex;
        align-items: center;

        &-label {
            margin-left: 7px;
        }
    }

    .owl-carousel {
        &__article {
            top: 180px;

            h2 {
                font-size: 42px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    .owl-nav {
        button {
            width: 40px;
            height: 40px;
        }

        .owl-prev {
            top: 130px;
            left: 120px;
        }

        .owl-next {
            top: 130px;
            left: 70px;
        }
    }

    .b-info {
        &__wrapper {
            padding: 49px 43px 28px 43px;
        }

        &__paragraph-item2 {
            margin-bottom: 89px;
        }

        h2 {
            font-size: 28px;
        }

        p {
            line-height: 25px;
            font-size: 15px;
        }

        &__item {
            &-image_arrow-right {
                width: 20px;
                right: 158px;
                top: -55px;
            }

            &-image_arrow-left {
                width: 70px;
                left: 80px;
                top: -30px;
            }
        }
    }

    .b-about {
        padding: 40px 0;

        .callback {
            padding: 25px 44px 25px 37px;
            flex-direction: column;
            flex-wrap: nowrap;

            input {
                width: 100%;
                margin-bottom: 10px;
                border: 1px solid rgba(#afafaf, .46);
            }
        }

        &__paragraph {
            line-height: 22px;
        }

        .btn-wrapper {
            margin-top: 12px;
        }

        &__article-wrapper {
            display: block;
            align-items: inherit;
            margin-bottom: 50px;
        }
    }

    .b-geography {
        padding: 100px 0 100px;
    }

    .b-vacancy {
        &__tasks-item {
            p {
                line-height: 24px;
            }

            ul {
                li {
                    font-size: 15px;
                }
            }
        }
    }

    &__header-item {
        h2 {
            font-size: 22px;
        }
    }

    .header_navigation ul li a:hover {
        border: none;
        color: inherit;
    }
}


// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .header_logo {
        padding-top: 12px;
        height: 100px;
        width: 220px;

        img {
            width: 200px;
        }

        p {
            margin-top: -10px;
        }
    }

    .header_container::before {
        height: 100px;
        width: 1200px;
        left: -1069px;
    }

    .header_navigation {
        margin-left: 0;
        margin-top: 0;
        width: 55%;
        transition: 1s;

        &:before {
            border: none;
        }
    }

    .header_widgets {
        margin-left: 125px;
        margin-top: 0;
        width: 25%;
        justify-content: space-evenly;
    }

    .header_contacts {
        height: 100px;
        width: 68%;
        &::after {
            left: 651px;
            width: 1200px;
            height: 100px;
        }
    }

    .line-btw {
        display: none;
    }

    .owl-carousel {
        &__article {
            top: 210px;

            h2 {
                font-size: 52px;
            }

            p {
                font-size: 15px;
            }
        }
    }

    .owl-nav {
        .owl-prev {
            top: 150px;
            left: 130px;
        }

        .owl-next {
            top: 150px;
            left: 70px;
        }
    }

    .b-info {
        &__wrapper {
            padding: 49px 43px 28px 43px;
        }

        h2 {
            font-size: 28px;
        }

        &__paragraph-item2 {
            margin-bottom: 64px;
        }

        p {
            line-height: 25px;
        }

        &__item {
            &-image_truck {
                width: 60%;
                height: auto;
            }

            &-image_arrow-right {
                right: 230px;
            }

            &-image_arrow-left {
                left: 110px;
                top: -25px;
                width: 80px;
            }
        }
    }

    .b-geography {
        background-position: center;
        background-size: 80%;
        padding: 160px 0 100px;

        .h2 {
            font-size: 27px;
        }

        &__number {
            color: $brown;
            font-size: 22px;
        }
    }

    .footer__nav-wrapper {
        a {
            font-size: 16px;
        }
    }

    .remodal {
        .callback {
            .formhead {
                font-size: 26px;
            }
        }
    }
}