$def-font: 'raleway', sans-serif;
$Raleway-EB: 'Raleway-EB', sans-serif;
$Raleway-Regular: 'Raleway-Regular', sans-serif;
$Raleway-Thin: 'Raleway-Thin', sans-serif;
$Raleway-SemiBold: 'Raleway-SemiBold', sans-serif;
$Raleway-Bold: 'Raleway-Bold', sans-serif;
$Raleway-Light: 'Raleway-Light', sans-serif;
$Font-awesome: 'FontAwesome', sans-serif;
$Fira-Sans: 'Fira Sans', sans-serif