$Roboto: 'Roboto';
$Roboto-Bold: 'Roboto Bold';
$Roboto-Light: 'Roboto-Light';
$Proxima-Nova: 'ProximaNovaReg';
$Proxima-Nova-Light: 'ProximaNovaLight';

$blue: #07a6b9;
$vblue: #3b97a2;
$brown: #c14f2f;
$dark: #1a1a1a;