$Roboto: 'Roboto', sans-serif;
$Roboto-Bold: 'Roboto Bold', sans-serif;
$Roboto-Light: 'Roboto-Light', sans-serif;
$Proxima-Nova: 'ProximaNovaReg', sans-serif;
$Proxima-Nova-Light: 'ProximaNovaLight', sans-serif;

$blue: #07a6b9;
$vblue: #3b97a2;
$brown: #c14f2f;
$dark: #1a1a1a;