include ../header/header.pug
include ../../components/broadcrumps/broadcrumps.pug
include ../footer/footer.pug
include ../../components/popup/popup.pug
include b-company/b-company.pug
include b-mission/b-mission.pug
mixin company()
    div.company-container
        +header
        main.main_container
            +broadcrumps
            +b-company
            +b-mission
        +footer