mixin header()
    header.header_container
        div.container
            div.header
                div.header_logo
                    a(href="")
                        img(src="img/logo/logo.png", alt="Логотип компании")
                        p
                            |   Грузоперевозки по России
                    a.hamburger.hamburger--emphatic(href="#" tabindex="1" aria-label="Menu")
                        span.hamburger-box
                            span.hamburger-inner
                        span.hamburger-label
                            | Меню
                div.header_navigation#my-menu
                    ul
                        li.header_navigation__main.animated.slideInLeft
                            a.active(href="#")
                                |   Главная страница
                        li.header_navigation__vacancy.animated.slideInLeft
                            a(href="vacancy.html" id="popup-btn")
                                |   Вакансии
                        li.header_navigation__about.animated.slideInLeft
                            a(href="company.html")
                                |   О компании
                div.header_contacts
                    div.widget_b
                        img(src="../../../img/sprites/sprite.svg#post", alt="почта")
                        div.header_b-paragraph
                            p.header_b-paragraph__top
                                |   Напишите нам
                            p.header_b-paragraph__bottom
                                a(href="mailto:nikolasdzr@yandex.ru")
                                    |   nikolasdzr@yandex.ru
                    div.line-btw
                    div.widget_b
                        img(src="../../../img/sprites/sprite.svg#phone", alt="номер телефона")
                        div.header_b-paragraph
                            p.header_b-paragraph__top
                                |   Позвоните нам 
                            p.header_b-paragraph__bottom
                                a(href="tel:+7 (999) 120 59 82")
                                    |   +7 (999) 120 59 82
                    div.btn-wrapper
                        a.btn.popup-btn(href="#modal")
                            |   Заказать звонок
                div.header_widgets#my-soc
                    a(href="#")
                        i.icon.icofont-instagram
                        span.visually-hidden
                            |   инстаграмм
                    a(href="#")
                        i.icon.icofont-odnoklassniki
                        span.visually-hidden
                            |   одноклассники
                    a(href="#")
                        i.icon.icofont-vk
                        span.visually-hidden
                            |   вконтакте