mixin header()
    section.header_container
        div.container
            div.header
                div.header_logo
                    img(src="img/logo/logo.png", alt="#")
                    p
                        |   Грузоперевозки по России
                div.header_navigation
                    ul
                        li
                            a(href="#")
                                |   Вы водитель?
                        li
                            a(href="#")
                                |   Нужен грузоперевозчик?
                        li
                            a(href="#")
                                |   О компании
                div.header_contacts
                    div.widget_b
                        img(src="../../../img/sprites/sprite.svg#post", alt="почта")
                        div.header_b-paragraph
                            p
                                |   Напишите нам
                            p  
                                |   nikolasdzr@yandex.ru
                    div.widget_b
                        img(src="../../../img/sprites/sprite.svg#phone", alt="номер телефона")
                        div.header_b-paragraph
                            p
                                |   Позвоните нам 
                            p  
                                |   +7 (999) 120 59 82
                    a.btn
                        |   Заказать звонок
                div.header_widgets
                    a(href="#")
                        i.icon.icofont-vk
                    a(href="#")
                        i.icon.icofont-odnoklassniki
                    a(href="#")
                        i.icon.icofont-instagram