mixin b-map()
    section.b-map
        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A46c96e24d3de32d1d7374764911b2e6ccbb3a9d10b88f6e0ac159440b7fa41b2&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true")