mixin b-company()
    section.b-company
            div.container
                div.row
                    div.col-12
                        div.b-company__header_wrapper
                            h1.h1
                                | О нас
            div.container
                div.row
                    div.col-12
                        div.b-company__img-wrapper
                            p
                                |   Мы прекрасно знаем свое дело — максимально оптимизировать транспортный процесс, объединив время и пространство, эффективно использовать фактор географии, технические средства и профессиональные качества коллектива нашей компании.
                            img(src="img/company-car.jpg", alt="Грузовик выезжает в рейс")