mixin b-company()
    section.b-company
            div.container
                div.row
                    div.col-12
                        div.b-company__header-wrapper
                            img(src="img/rectangle.png", alt="декор")
                            h1.h1
                                | О нас
            div.container
                div.row
                    div.col-12
                        div.b-company__img-wrapper
                            p
                                |  Компания ООО «Мейстер» было основана в 2016 году и на сегодняшний день является активным участником рынка предоставления транспортных услуг. За это время мы зарекомендовали себя в бизнес-сообществе надежным перевозчиком, исполняющим взятые на себя обязательства и всегда оправдывающим ожидания партнеров и клиентов. Мы гарантированно и оперативно доставляем сборные грузы в любую точку нашей страны, выдерживая заявленные сроки и обеспечивая максимальную сохранность грузов. Накопленный нами богатый опыт работы, профессионализм и высокая работоспособность наших специалистов начиная от планирования маршрута до непосредственно доставки груза являются гарантом качества и надежности для наших Клиентов.
                            img(src="img/company-car.jpg", alt="Грузовик выезжает в рейс")