mixin b-advantages()
    section.b-advantages
        div.container
            div.row
                div.col-12
                    h2.h2
                        |   Наши преимущества
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/experience.png", alt="Диспетчер")
                        p
                            |   Большой опыт
                            br
                            | диспетчеров
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/reviews.png", alt="Рекомендации")
                        p
                            |   Более 100
                            br
                            | рекомендаций
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/safety.png", alt="Сохранность грузов")
                        p
                            |   100% качество перевозки
                            br
                            | и сохранность грузов
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/seccessfull.png", alt="Успешные перевозки")
                        p
                            |   Несколько тысяч
                            br
                            | успешных перевозок
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/relations.png", alt="Круглосуточная связь")
                        p
                            |   Круглосуточная связь
                div.col-sm-4.col-12
                    div.b-advantages__item-wrapper
                        div.b-advantages__img
                            img(src="img/advantages/cargo.png", alt="Любой тоннаж")
                        p
                            |   Перевозки грузов
                            br
                            | любого тоннажа