mixin broadcrumps()
    section.broadcrumps
        div.container
            div.row
                div.col-12
                    div.broadcrumps__wrapper
                        ul
                            li
                                a(href="index.html")
                                    | Главная
                            li
                                a(href="")
                                    | Вакансии