mixin slider()
    div.owl-carousel
        div
            img(src="img/slider-bg.jpg", alt="Фура")
            article.owl-carousel__article
                h2
                    | Перевозки доступные всем
                p
                    | Мы предоставляем надежные и качественные услуги
        div
            img(src="img/slider-bg1.jpg", alt="Фура")
            article.owl-carousel__article
                h2
                    | Перевозки доступные всем
                p
                    | Мы предоставляем надежные и качественные услуги
        div
            img(src="img/slider-bg2.jpg", alt="Фура")
            article.owl-carousel__article
                h2
                    | Перевозки доступные всем
                p
                    | Мы предоставляем надежные и качественные услуги
        div
            img(src="img/slider-bg3.jpg", alt="Фура")
            article.owl-carousel__article
                h2
                    | Перевозки доступные всем
                p
                    | Мы предоставляем надежные и качественные услуги