mixin slider()
    div.owl-carousel
        div
            img(src="img/slider-bg.jpg", alt="Фура")
        div
            img(src="img/slider-bg1.jpg", alt="Фура")
        div
            img(src="img/slider-bg2.jpg", alt="Фура")
        div
            img(src="img/slider-bg3.jpg", alt="Фура")