@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "helpers/media";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";


body {
  font-family: $Roboto, serif;
  min-width: 320px;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #1a1a1a;
  background-color: #fff;
  padding: 0 !important;
}
