@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/components/components";
@import "../blocks/modules/modules";
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../blocks/modules/main-container/main-container.scss";

body {
  font-family: $Roboto;
  min-width: 320px;
  line-height: 1.75;
  overflow-x: hidden;
  opacity: 1;
  color: #1a1a1a;
  background-color: #fff;
}
