mixin popup()
    div.remodal
        div.callback-wrapper
            form.callback
                a.remodal-close
                input(type="hidden" name="project_name" value="ООО Мейстер")
                input(type="hidden" name="admin_email" value="nickolasdzr@yandex.ru")
                input(type="hidden" name="form_subject" value="Обращение с главной страницы сайта")
                input(type="hidden" name="Страница" value="")
                div.formhead
                    |   Подать заявку
                input(type="text", name="Имя" placeholder="Имя")
                input(type="text", name="Телефон" placeholder="Телефон")
                button.btn
                    |   Отправить