
.remodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    z-index: 200 !important;
    background-color: rgba(0,0,0,0.5); 

    .callback {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        position: relative;
        border-radius: .3125em;
        z-index: 1000 !important;
        &-wrapper {
            width: 32em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        animation: swal2-show .3s;
        .btn-wrapper {
            margin: 1.05em 0;
          }
    }

    &-close {
        border: 1px solid #cccccc;
        border-radius: 45px;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 100;
        background-color: transparent;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            width: 1px;
            height: 19px;
            display: block;
            border: 1px solid #ccc;
            position: absolute;
            top: 4px;
            left: 13px;
        }

        &:after {
            content: '';
            transform: rotate(-45deg);
        }
        &:hover:after,&:hover::before {
            border: 1px solid $blue;
        }

        &:before {
            content: '';
            transform: rotate(45deg);
        }

        i {
            font-size: 21px;
            color: #ccc;
            position: relative;
            right: 2px;
        }

        &:hover {
            border: 1px solid $blue;
        }
    }

    input {
        width: 80%;
        margin-bottom: 2.25em;
    }

    .formhead {
        margin: 1.05em 0;
    }
}

.swal2-container {
    z-index: 10000 !important;
    position: absolute;
}

.swal2-shown {
    z-index: 10000;
}

.remodal-is-active {
    display: flex;
}

.swal2-container.swal2-shown {
    background-color: rgba(0,0,0,0.5) !important;
}

body.swal2-height-auto {
    padding-right: 17px;
}