.remodal {
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2000;
    width: 700px;
    display: none;

    .callback {
        box-shadow: none;
        padding: 0;
        padding: 60px 100px;
    }

    &-close {
        border: 1px solid #cccccc;
        border-radius: 45px;
        right: 15px;
        top: 15px;
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 100;
        background-color: transparent;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            width: 1px;
            height: 7px;
            border: 1px solid #ccc;
        }

        &:after {
            content: '';
            transform: rotate(-45deg);
        }

        &:before {
            content: '';
            transform: rotate(45deg);
        }

        i {
            font-size: 21px;
            color: #ccc;
            position: relative;
            right: 2px;
        }

        &:hover {
            border: 1px solid $blue;

            &:hover i {
                color: $blue
            }
        }
    }

    input {
        width: 100%;
    }

    .formhead {
        margin-bottom: 20px;
    }
}

.swal2-container {
    z-index: 10000 !important;
    position: absolute;
}

.swal2-shown {
    z-index: 10000;
}

.remodal-is-active {
    display: block;
}

.remodal {
    animation: swal2-show .3s;
}

.overlay {
    background: #000;
    opacity: .7;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}