extends layouts/default
include helpers/mixins
include ../blocks/modules/main-container/main-container.pug

block variables
	- const title = "gulp-pug-starter"

block content
	+main-container

block scripts
	script(src="../js/main.js")
	script(src="../js/vendor.js")