include slider/slider.pug
include b-info/b-info.pug
include b-advantages/b-advantages.pug
include b-about/b-about.pug
include b-geography/b-geography.pug
mixin main()
    main.main-container
        +slider
        +b-info
        +b-advantages
        +b-about
        +b-geography