mixin b-contacts()
    section.b-contacts
        div.container
            div.row
                div.col-12
                    div.b-contacts__header-item
                        h2.h2
                            |   Контакты
                        img(src="img/line-img.jpg", alt="декор")
                        div.b-contacts__contacts-wrapper
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#locate", alt="" width="31" height="auto")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Адрес:
                                    p
                                        |   Тюмень, 2-й Рощинский проезд, д. 8, с. 5, оф. 221, БЦ «Серпуховской двор»
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#phone", alt="" width="31" height="auto")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Телефон:
                                    p
                                        |   +7 (922) 67 78 789
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#post-2", alt="" width="32" height="auto")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   E-mail:
                                    p
                                        |   niсolasdzr@yandex.ru
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#clock", alt="" width="32" height="auto")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Режим работы:
                                    p
                                        |   Пн. – Пт.: с 9:00 до 18:00