.b-contacts {
    margin: 80px 0;
    &__header-item {
        h2 {
            line-height: 0;
        }
    }
    &__contacts-wrapper {
        margin-top: 20px;
    }
    &__contact {
        display: flex;
        margin-bottom: 20px;
        max-height: 100px;
        align-items: center;
        p:nth-child(1) {
            color: #666666;
            font-family: $Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
        }
        p:nth-child(2) {
            color: #1a1a1a;
            font-family: $Proxima-Nova;
            font-size: 18px;
            font-weight: 700;
            line-height: 80px;
            line-height: 1.5;
        }
        img {
            margin-right: 20px;
        }
    }
}