mixin b-contacts()
    section.b-contacts
        div.container
            div.row
                div.col-12
                    div.b-contacts__header-item
                        h2.h2
                            |   Контакты
                        img.line-img(src="img/line-img.jpg", alt="декоративная картинка")
                        div.b-contacts__contacts-wrapper
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#locate", alt="Наше местонахождение")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Адрес:
                                    p
                                        |   Нижегородская область, город Дзержинск, улица Водозаборная, дом 3а
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#phone", alt="Наш телефон")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Телефон:
                                    p
                                        a(href="tel:+7 (929) 050 78 89")
                                            |   +7 (929) 050 78 89
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#post-2", alt="На email адрес")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   E-mail:
                                    p
                                        a(href="mailto:nikolasdzr@yandex.ru")
                                            |   nickolasdzr@yandex.ru
                            div.b-contacts__contact
                                img(src="/img/sprites/sprite.svg#clock", alt="Наш график работы" width="32" height="100%")
                                div.b-contacts__paragraph-wrapper
                                    p
                                        |   Режим работы:
                                    p
                                        |   Пн. – Пт.: с 9:00 до 17:00