mixin b-about()
    section.b-about(style="background-image:url('img/bg-about.jpg')")
        div.container 
            div.row
                div.col-md-5.col-12
                    div.b-about__article-wrapper
                        article.b-about__article
                            h2.h2
                                |   Заинтересовала  вакансия?
                            p.b-about__paragraph
                                |   Более подробно о любой вакансии мы раскажем Вам по номеру: 
                                a(href="tel:+7 (999) 120 59 82")
                                    |   +7 (999) 120 59 82
                                |    Оставьте свои координаты, менеждер нашей компании назначит время собеседования. Ждем желающих работать и зарабатывать вместе с нами.
                div.col-md-7.col-12
                    div.b-about__wrapper-form
                        form.callback
                            div.success
                                span
                                    |   Спасибо за обращение.
                                    br
                                    |   Мы вам скоро перезвоним!
                            input(type="hidden" name="project_name" value="ООО Мейстер")
                            input(type="hidden" name="admin_email" value="nickolasdzr@yandex.ru")
                            input(type="hidden" name="form_subject" value="Обращение со страницы вакансий")
                            input(type="hidden" name="Страница" value="")
                            div.formhead
                                |   Подать заявку
                            input(type="text", name="Имя" placeholder="Имя" required)
                            input(type="text", name="Телефон или Email" placeholder="Телефон или Email" required)
                            input.input-vacancy(type="text", name="Вакансия" placeholder="Вакансия")
                            input.input-comment(type="text", name="Комментарий" placeholder="Комментарий")
                            div.btn-wrapper
                                button.btn
                                    |   Отправить