mixin b-info()
    section.b-info
        div.container
            div.row
                div.col-md-6.col-sm-12.b-info__item-driver
                    div.b-info__wrapper
                        h2
                            | Вы водитель?
                        p.b-info__paragraph-item1
                            | Если вы счастливый обладатель грузовой машины и имеете желание работать в сфере грузоперевозок, ответственно подходите к выполнению поставленных задач, то мы рады предложить выгодные для Вас условия работы на постоянной основе. Приглашаем к сотрудничеству профессионалов своего дела
                        a.btn(href="#")
                            |   Подробнее
                div.col-md-6.col-sm-12.b-info__item-owner
                    div.b-info__wrapper
                        h2
                            |   Вы грузовладелец?
                        p.b-info__paragraph-item2
                            |   Необходимость в транспортировке грузов вынуждает грузовладельцев обратится к услугам транспортных компаний, которым по силам удовлетворить любые потребности, такие как сохранность груза, выгодные цены и строгое соблюдение сроков доставки

                        a.btn(href="#")
                            |   Подробнее
                div.col-md-12.b-info__item-image
                    img.b-info__item-image_truck(src="img/truck-img.jpg", alt="Фура с грузом")
                    img.b-info__item-image_arrow-left(src="img/arrow-left.png", alt="Декоративная стрелка слева")
                    img.b-info__item-image_arrow-right(src="img/arrow-right.png", alt="Декоративная стрелка справа")