mixin b-geography()
    section.b-geography(style="background-image:url('img/map-img.png')")
        div.container
            div.row
                div.offset-sm-7
                div.col-12.col-lg-5
                    h2.h2
                        |   География перевозок
                    p.b-geography__paragraph-item1
                        |   Мы доставляем грузы по всей России.
                    p.b-geography__paragraph-item2
                        |   Наш менреджер предложит вам оптимально эффективное, экономичноее и быстрое логистическое решение.
                    p.b-geography__number
                        |   звоните  +7 (922) 67 78 789