mixin b-geography()
    section.b-geography(style="background-image:url('img/map-img.png')")
        div.container
            div.row
                div.offset-sm-7
                div.col-12.col-lg-5
                    h2.h2
                        |   География перевозок
                    p.b-geography__paragraph-item1
                        |   Наш менеджер свяжется с вами в любое удобное для Вас время. Мы предлагаем Вам оптимальное и быстрое логистическое решение.Доставим ваш груз в любую точку нашей страны.
                    p.b-geography__number
                        |   ЗВОНИТЕ +7 (929) 050 78 89