mixin b-about()
    section.b-about(style="background-image:url('img/bg-about.jpg')")
        div.container
            div.row
                div.col-sm-4.offset-sm-1.col-12
                    article.b-about__wrapper-text
                        h2.h2
                            |   О нас
                        p.b-about__paragraph
                            |   Мы прекрасно знаем свое дело — максимально оптимизировать транспортный процесс, объединив время и пространство, эффективно использовать фактор географии, технические средства и профессиональные качества коллектива нашей компании.
                div.col-sm-7.col-12
                    div.b-about__wrapper-form
                        form.callback
                            div.success
                                span
                                    |   Спасибо за обращение.
                                    br
                                    |   Мы вам скоро перезвоним!
                            input(type="hidden" name="project_name" value="ООО Мейстер")
                            input(type="hidden" name="admin_email" value="nickolasdzr@yandex.ru")
                            input(type="hidden" name="form_subject" value="Обращение с главной страницы сайта")
                            input(type="hidden" name="Страница" value="")
                            div.formhead
                                |   Подать заявку
                            input(type="text", name="company" placeholder="Компания (Имя)")
                            input(type="text", name="PhoneEmail" placeholder="Телефон или Email")
                            input(type="text", name="from" placeholder="Пункт отправления")
                            input(type="text", name="where" placeholder="Пункт назначения")
                            input(type="text", name="weight" placeholder="Груз, вес")
                            input(type="text", name="company" placeholder="Комментарий")
                            div.btn-wrapper
                                button.btn(href="#")
                                    |   Отправить