.b-about {
    background-size: 100% auto;
    padding: 100px 0;

    &__article {
        &-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
        }
        .h2 {
            color: #1a1a1a;
            font-family: $Proxima-Nova;
            font-size: 32px;
            font-weight: 700;
            line-height: 46px;
        }
    }

    &__paragraph {
        color: #333333;
        font-family: $Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }
}

.callback {
    width: 100%;
    background-color: #fff;
    padding: 40px 44px 40px 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);

    .success {
        position: absolute;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 10;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        // blur
        & ~ * {
            transition: all 1s ease
        }
        &.active {
            & ~ * {
                opacity: .5;
                filter: blur(7px);
            }
        }
        span {
            color: #07a6b9;
            font-family: $Proxima-Nova;
            font-size: 32px;
            font-weight: 700;
            line-height: 48px;
        }
        // display: none;
    }

    .formhead {
        text-align: center;
        color: #07a6b9;
        font-family: $Proxima-Nova;
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        width: 100%;
        margin-bottom: 15px;
    }

    .btn-wrapper {
        text-align: center;
        width: 100%;
    }
}