mixin b-about()
    section.b-about(style="background-image:url('img/bg-about.jpg')")
        div.container
            div.row
                div.col-md-4.offset-md-1
                    article.b-about__wrapper-text
                        h2.h2
                            |   О нас
                        p.b-about__paragraph
                            |   Мы прекрасно знаем свое дело — максимально оптимизировать транспортный процесс, объединив время и пространство, эффективно использовать фактор географии, технические средства и профессиональные качества коллектива нашей компании.
                div.col-md-7