mixin b-about()
    section.b-about(style="background-image:url('img/bg-about.jpg')")
        div.container
            div.row
                div.col-md-5.col-12
                    div.b-about__article-wrapper
                        article.b-about__article
                            h2.h2
                                |   О нас
                            p.b-about__paragraph
                                |   Наша компания ООО «Мейстер» является активным участником рынка предоставления транспортных услуг с 2016 года. Мы гарантированно и оперативно доставляем сборные грузы в любую точку нашей страны, выдерживая заявленные сроки и обеспечивая максимальную сохранность грузов.
                div.col-md-7.col-12
                    div.b-about__wrapper-form
                        form.callback
                            div.success
                                span
                                    |   Спасибо за обращение.
                                    br
                                    |   Мы вам скоро перезвоним!
                            input(type="hidden" name="project_name" value="ООО Мейстер")
                            input(type="hidden" name="admin_email" value="nickolasdzr@yandex.ru")
                            input(type="hidden" name="form_subject" value="Обращение с главной страницы сайта")
                            input(type="hidden" name="Страница" value="")
                            div.formhead
                                |   Подать заявку
                            input(type="text", name="Компания" placeholder="Компания (Имя)")
                            input(type="text", name="Телефон или email" placeholder="Телефон или Email")
                            input(type="text", name="Пункт отправления" placeholder="Пункт отправления")
                            input(type="text", name="Пункт назначения" placeholder="Пункт назначения")
                            input(type="text", name="Груз, вес" placeholder="Груз, вес")
                            input(type="text", name="Комментарий" placeholder="Комментарий")
                            div.btn-wrapper
                                button.btn
                                    |   Отправить