mixin b-mission()
    section.b-mission
        div.container
            div.row
                div.col-lg-8.col-12
                    div.b-mission__header-item
                        h2.h2
                            |   Миссия и видение
                        img(src="img/line-img.jpg", alt="декоративная картинка линии")
                    div.b-mission__missions
                        p.b-mission__paragraph
                            strong
                                |   Наша Миссия «Мы делаем сложное простым».
                            |   Развитие малого и среднего бизнеса в стране приводит к значительному увеличению объемов грузоперевозок, что в свою очередь порождает новые потребности Клиентов в логистических услугах. Наша компания является частью этой системы и стремится удовлетворить самые высокие требования и предоставить своим Клиентам непревзойденное качество услуг. Для этого мы собрали вокруг себя команду профессионалов. 
                        p.b-mission__paragraph
                            strong
                                |   Их задача – избавить вас от лишних хлопот по доставке.
                        p.b-mission__paragraph
                            strong
                                |   Наша цель
                            |   — стать для вас незаменимым партнером в этой отрасли. Развивайте свой бизнес вместе с нами!
                        p.b-mission__paragraph
                            |   Для достижения поставленной цели нам помогает понимание стратегии развития нашей компании. Суть стратегии ООО «Мейстер» – быть лучшими в своей отрасли. А также задачи, которые мы обязуемся выполнять.
                    div.b-mission__job-ways
                        h3
                            |   Направления работы
                        ul
                            li
                                |   Оказание высококачественных транспортных услуг по перевозке и доставке товаров в соответствии с договорами и обязательствами;
                            li
                                |   Недопущение сбоев в работе компании;
                            li
                                |   Создание новых рабочих мест;
                            li
                                |   Обеспечение работников компании достойной заработной платой, нормальными условиями труда и возможностью профессионального роста;
                            li
                                |   Уважительное отношение к каждому члену коллектива компании, Клиентам, Партнерам и конкурентам.