mixin b-mission()
    section.b-mission
        div.container
            div.row
                div.col-lg-8.col-12
                    div.b-mission__header-item
                        h2.h2
                            |   Миссия и видение
                        img(src="img/line-img.jpg", alt="декоративная картинка линии")
                    div.b-mission__missions
                        p.b-mission__paragraph
                            strong
                                |   Наша Миссия «Мы делаем сложное простым».
                            |   Мы смотрим в будущее и искренне верим в то, что своим отношением к делу формируем ландшафт транспортно-логистической отрасли, каждый день подтверждая это своими действиями. Транспортно-логистическая отрасль невероятно сложна и требует высочайших профессиональных компетенций и постоянного совершенствования процессов. Мы используем самые современные решения, зачастую формируя стандарты отрасли.  Сформировав своё Видение как «Лидер логистической отрасли», мы ставим себе цель стать основой для развития миллионов бизнесов на территории России и за её пределами, быть частью каждого груза, перевезенного на территориях нашего присутствия.
                    div.b-mission__job-ways
                        h3
                            |   Направления работы
                        ul
                            li
                                |   прием и обработка входящих заявок от новых и постоянных клиентов
                            li
                                |   ведение Ваших клиентов в СРМ
                            li
                                |   поиск автотранспорта под поступающие заявки в АТИ
                            li
                                |   ведение документооборота по Вашим перевозкам в программе Транс-Менеджер
                            li
                                |   контроль дебиторской задолженности
                            li
                                |   стабилизация и преобразование входящего потока клиентов и заявок в Вашу  клиентскую базу и работа с ней.