mixin footer()
  div.container
    div.row
      div.col-6.col-sm-12.col-md-4.col-xs-1
        div.block
          p
            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint, nobis!
      div.col-6.col-sm-12.col-md-4.col-xs-1
        div.block
          p
            | col-4