mixin footer()
    footer.footer-container(style="background-image:url('img/footer-bg.jpg')")
        div.container
            div.row.align-items-center
                div.col-12.col-md-5
                    div.footer__logo-wrapper
                        img(src="img/logo/logo-footer.png", alt="Логотип компании")
                        P
                            |   115419,  Тюмень, 2-й Рощинский проезд,
                            br
                            |   д. 8, с. 5, оф. 221, БЦ «Серпуховской двор»
                div.col-12.col-md-2
                    div.footer__nav-wrapper
                        ul
                            li
                                a(href="#")
                                    |   Главная страница
                            li
                                a(href="#")
                                    |   Вакансии
                            li
                                a(href="#")
                                    |   О компании
                div.col-12.col-md-5
                    div.footer__info-wrapper
                        p.footer__phone
                            |   +7 (922) 67 78 789
                        p.footer__sing
                            |   мы работаем круглосуточно
                        span
                            i.icon.icofont-copyright
                                |   Copyright 2019