.b-vacancy {
    &__manager, &__driver {
        margin-bottom: 110px;
    }
    &__header {
        &_wrapper {
            padding: 35px 0;
            img {
                position: absolute;
                right: 100%;
                top: 10px;
                margin-right: 30px;
            }
        }
    }

    &__header-item {
        position: relative;
        margin: 30px 0;

        h2 {
            line-height: 1px;
        }
    }
    &__conditions-item {
        p {
            color: #1c1c1c;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: 700;
            line-height: 28px;
            min-width: 70px;
        }
        span {
            color: #1c1c1c;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
        }
    }
    &__tasks-item {
        ul {
            position: relative;
            li {
                color: #333333;
                font-family: $Roboto;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                margin-left: 20px;
                &:before {
                    content: '—';
                    position: absolute;
                    left: 0;
                }
            }
        }
        p {
            color: #333333;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px;
        }
        h3 {
            margin: 10px 0 5px;
        }
    }
    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            display: block;
            width: 90%;
        }
    }
    .btn {
        margin: 30px 0;
    }
}