mixin b-vacancy()
    section.b-vacancy
        //- img(src="img/rectangle.png", alt="Декоротивная картинка прямоугольника")
        section.b-vacancy__header
            div.container
                div.row
                    div.col-12
                        div.b-vacancy__header_wrapper
                            h1.h1
                                | Вакансии
        section.b-vacancy__manager
            div.container
                div.row
                    div.col-lg-8.col-12
                        section.b-vacancy__vacancy-items_wrapper
                            div.b-vacancy__header-item
                                h2
                                    |   Менеджер по продажам-логист 
                                img(src="img/line-img.jpg", alt="decor")
                            article.b-vacancy__conditions-item
                                p
                                    |   Зарплата:
                                    span
                                        |   от 20 000 до 90 000 руб
                                p
                                    |   График:
                                    span
                                        |   Полный рабочий день
                                p
                                    |   Опыт:
                                    span
                                        |   1-3 года
                            article.b-vacancy__tasks-item
                                h3
                                    |   Задачи, которые будут стоять перед Вами:
                                ul
                                    li
                                        |   прием и обработка входящих заявок от новых и постоянных клиентов
                                    li
                                        |   ведение Ваших клиентов в СРМ
                                    li
                                        |   поиск автотранспорта под поступающие заявки в АТИ
                                    li
                                        |   ведение документооборота по Вашим перевозкам в программе Транс-Менеджер
                                    li
                                        |   контроль дебиторской задолженности
                                    li
                                        |   стабилизация и преобразование входящего потока клиентов и заявок в Вашу клиентскую базу и работа с ней.
                                p
                                    |   Особо хочу подчеркнуть, что "Холодные звонки" совершать НЕ ПРИДЕТСЯ. Вы будете работать на входящем потоке клиентских заявок, формируя из них в дальнейшем уже свою базу клиентов и работать с ней, продолжая принимать входящие заявки от новых клиентов.
                            a.btn
                                |   Откликнуться
                    div.col-lg-4.col-12
                        div.b-vacancy__img-wrapper
                            img(src="img/manager.png", alt="Менеджер")
        section.b-vacancy__driver
            div.container
                div.row
                    div.col-lg-8.col-12
                        section.b-vacancy__vacancy-items_wrapper
                            div.b-vacancy__header-item
                                h2
                                    |   Водитель категории В, С, Е
                                img(src="img/line-img.jpg", alt="decor")
                            article.b-vacancy__conditions-item
                                p
                                    |   Зарплата:
                                    span
                                        |   от 40 000 до 110 000 руб
                                p
                                    |   График:
                                    span
                                        |   Полный рабочий день
                                p
                                    |   Опыт:
                                    span
                                        |   3-5 лет
                            article.b-vacancy__tasks-item
                                h3
                                    |   Задачи, которые будут стоять перед Вами:
                                ul
                                    li
                                        |   прием и обработка входящих заявок от новых и постоянных клиентов
                                    li
                                        |   ведение Ваших клиентов в СРМ
                                    li
                                        |   поиск автотранспорта под поступающие заявки в АТИ
                                    li
                                        |   ведение документооборота по Вашим перевозкам в программе Транс-Менеджер
                                    li
                                        |   контроль дебиторской задолженности
                                    li
                                        |   стабилизация и преобразование входящего потока клиентов и заявок в Вашу клиентскую базу и работа с ней.
                                p
                                    |   Особо хочу подчеркнуть, что "Холодные звонки" совершать НЕ ПРИДЕТСЯ. Вы будете работать на входящем потоке клиентских заявок, формируя из них в дальнейшем уже свою базу клиентов и работать с ней, продолжая принимать входящие заявки от новых клиентов.
                            a.btn
                                |   Откликнуться
                    div.col-lg-4.col-12
                        div.b-vacancy__img-wrapper
                            img(src="img/cargo.png", alt="Менеджер")