mixin b-vacancy()
    section.b-vacancy
        //- img(src="img/rectangle.png", alt="Декоротивная картинка прямоугольника")
        section.b-vacancy__header
            div.container
                div.row
                    div.col-12
                        div.b-vacancy__header_wrapper
                            img(src="img/rectangle.png", alt="Декор")
                            h1.h1
                                | Вакансии
        section.b-vacancy__manager
            div.container
                div.row
                    div.col-lg-8.col-12
                        section.b-vacancy__vacancy-items_wrapper
                            div.b-vacancy__header-item
                                h2
                                    |   Менеджер отдела логистики по грузоперевозкам
                                img(src="img/line-img.jpg", alt="decor" width="100%")
                            article.b-vacancy__conditions-item
                                p
                                    |   Зарплата:
                                    span
                                        |   30 000 рублей
                                p
                                    |   График:
                                    span
                                        |   Свободный
                                p
                                    |   Опыт:
                                    span
                                        |   Любой
                            article.b-vacancy__tasks-item
                                p
                                    |   Требуется менеджер отдела логистики по грузоперевозкам на <strong style="font-weight:bold">удаленную работу</strong>. На холодных звонках сидеть не придется. У вас будут клиенты, которые уже готовы работать и вам нужно работать на входящих заявках. Так же, есть возможность обучения с нуля, уже во время обучения Вы заработаете первые деньги.
                                h3
                                    |   Требования:
                                ul
                                    li
                                        |   Образование средне специальное
                                    li
                                        |   Уверенный пользователь ПК и оргтехники
                                    li
                                        |   Доброжелательность‚ внимательность‚ пунктуальность‚ оперативность
                                    li
                                        |   Самостоятельность в принятии определенных решений.
                                    li
                                        |   Желание работать и зарабатывать.
                            article.b-vacancy__tasks-item
                                h3
                                    |   Задачи, которые будут стоять перед Вами:
                                ul
                                    li
                                        |   Активный поиск и привлечение новых клиентов.
                                    li
                                        |   Консультирование клиентов по всему спектру услуг.
                                    li
                                        |   Контроль платежей и задолженностей по выполненным перевозкам.
                                    li
                                        |   Обработка поступающих запросов, технических заданий.
                                    li
                                        |   Расчет стоимости транспортных услуг.
                                    li
                                        |   Поиск машин
                            a.btn.popup-btn
                                |   Откликнуться
                    div.col-lg-4.col-12
                        div.b-vacancy__img-wrapper
                            img(src="img/manager.jpg", alt="Менеджер")
        section.b-vacancy__driver
            div.container
                div.row
                    div.col-lg-8.col-12
                        section.b-vacancy__vacancy-items_wrapper
                            div.b-vacancy__header-item
                                h2
                                    |   Водитель категории С, Е
                                img(src="img/line-img.jpg", alt="decor" width="100%")
                            article.b-vacancy__conditions-item
                                p
                                    |   Зарплата:
                                    span
                                        |   от 40 000 до 110 000 руб
                                p
                                    |   График:
                                    span
                                        |   Полный рабочий день
                                p
                                    |   Опыт:
                                    span
                                        |   от 1 года
                            article.b-vacancy__tasks-item
                                p
                                    |   Предоставляем услуги по поиску грузов для водителей с собственными грузовыми автомобилями. Выполнять перевозки по России и областям в любом направлении. Сопровождение на всем пути следования как в одну сторону так и обратно. Работаем по договору, одноразовые загрузки не предоставляем. Оплата по факту выгрузки и предоставления разгрузочных документов. Все ожидания по оплате (10 б/д и т.д.) берем на себя. Наши менеджера прошли обучение, от вас нужно желание работать и зарабатывать
                                h3
                                    |   Требования:
                                ul
                                    li
                                        |   Наличие водительского удостоверения категории "В" , "С" , "Е";
                                    li
                                        |   Обязательно наличие карты тахографа на категории прав "С" , "Е";
                                    li
                                        |   Водительский стаж по данной категории от одного года
                                    li
                                        |   Опыт работы на грузовых машинах кат. С, Е от 1 года,
                                    li
                                        |   Опыт работы в сфере грузоперевозок на иностранных грузовых автомобилях (еврофуры)
                            article.b-vacancy__tasks-item
                                h3
                                    |   Обязанности:
                                ul
                                    li
                                        |   Водитель кат. С - доставка грузов по России и областям до клиента на грузовых автомобилях (от 2 тонн),
                                    li
                                        |   Водитель кат. Е - своевременная доставка грузов по России
                                    li
                                        |   Соблюдать правила подачи автомобиля под погрузку и разгрузку грузов.
                                    li
                                        |   Проверять соответствие укладки и крепления груза на автомобиле для предотвращения повреждений.
                                    li
                                        |   Контроль за сопроводительными документами, проверка наличия необходимых печатей и подписей
                            a.btn.popup-btn
                                |   Откликнуться
                    div.col-lg-4.col-12
                        div.b-vacancy__img-wrapper
                            img(src="img/cargo.png", alt="Менеджер")